.chatbotContainer {
	height: 510px;
	width: 350px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	position: fixed;
	bottom: 100px;
	right: 20px;
	box-shadow: 0 0 8px 0 #ffffff;
	overflow: hidden;
}

.toggleButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 45px;
	right: 20px;
	background-color: rgb(35, 31, 67);
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 20px;
	transition: all .3s;
}


.toggleButton:hover {
	background-color: rgb(46, 41, 83);
}


@keyframes spin {
	0% {
	  transform: rotate(0deg) scale(1);
	}
	50% {
	  transform: rotate(180deg) scale(1.1);
	}
	100% {
	  transform: rotate(360deg) scale(1);
	}
  }
  
  .robotSpin {
	animation: spin 0.5s ease-in-out;
  }
