.formContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px 5px;
	position: absolute;
	bottom: 0;
	background-color: rgb(35, 31, 67);
}

.textValue {
	width: 250px!important;
	height: 20px!important;
	margin-left: 5px;
	padding: 10px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccc;
	resize:none;
}

.button {
	margin-right: 15px;
	padding: 10px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 50%;
	cursor: pointer;
	transition: .3s;
}

.button:hover {
	background-color: rgb(46, 41, 83);
}
