.messagesContainer {
	
	height: 100%;
	display: flex;
	flex-direction: column;
	max-height: 360px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px 15px;
	border-left: 1px solid rgb(35, 31, 67);
	border-right: 1px solid rgb(35, 31, 67);
}
.sroll{
	margin-top: 10px;
}
.typingContainer{
	display: flex;
}

.robotContainer{
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	padding: 7px;
	border: 1px solid #221d41;
	border-radius: 50%
}
.robot{
	font-size: 18px;
	color: #221d41;
}
