.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-bottom: 10px; */
	padding:25px 0;
	/* border-bottom: 1px solid black; */
	color: white;
	background-color: rgb(35, 31, 67);
	
}

.title {
	margin: 0;
	padding-left: 15px;
	font-size: 18px;
	text-align: left;
	flex-grow: 2;
	letter-spacing: 2px;
	
}

.closeButton {
	margin-right: 10px;
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: white;
}
